.image-home {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.image-div {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  align-items: center;
  justify-content:space-around;
}
